body{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.navigation{
    width: 420px;
    height: 80px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0000005f;
    align-items: center;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    color: #209cff;
    position: relative;
    list-style: none;
    width: 70px;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    transition: all 600ms step-end;
    margin-bottom: 20px;
}
.navigation ul li i{
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    color: #0000005f;
}
